@import './fonts.css';
@import "tailwindcss";

@theme {
    --breakpoint-sm:  558px;
    --breakpoint-md:  768px;
    --breakpoint-lg:  1168px;
    --breakpoint-xl: 1640px;

    --color-alternativePastelYellow: #FDDC71;
    --color-alternativeTextBlack: #333333;
}


body {
    font-family: 'Manrope', 'Segoe UI', 'Roboto', sans-serif;
    background-color: white;
    color: #000000;
    line-height: 1.5;
}
